<main>
  <h1>{{ "WELCOME" | translate }}</h1>
  <div class="form-group">
    <div class="btn-group">
      <button
        class="btn btn-cog btn-outline-primary"
        *ngFor="let lang of languages"
        (click)="switchLanguage(lang)"
        [ngClass]="{ 'active': lang === selected }"
      >
        {{ lang }}
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="btn-group">
      <button
        class="btn btn-reset btn-outline-secondary"
        [routerLink]="'/eager'"
        routerLinkActive="active"
      >
        {{ "EAGER" | translate }}
      </button>
      <button
        class="btn btn-reset btn-outline-secondary"
        [routerLink]="'/lazy'"
        routerLinkActive="active"
      >
        {{ "LAZY" | translate }}
      </button>
    </div>
  </div>
  <section><router-outlet></router-outlet></section>
</main>
